/* Tablet and Mobile */
@media only screen and (max-width:755px) {

.logo {
    margin: 5px;
}

.logo img {
    width: 50px;
}

.name {
    font-size: 18px;
    padding-top: 12px;
    left: 55px;
}

.bars {
    top: 20px;
    right: 15px;
}

.bars:nth-child(2) {
    top: 23px;
}

.bars:nth-child(3) {
    top: 30px;
}

.bars:nth-child(4) {
    top: 33px;
}

.bars:nth-child(5) {
    top: 40px;
}

.mobile-container-fluid {
    top: 0px;
    padding: 0px !important;
    position: fixed;
    z-index: 500 !important;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
    height: 65px;
    border-bottom: thick solid rgba(230,230,230,0.95);
    display: block;
}


.navLogo {
    margin: 5px;
}

.navLogo img {
    width: 50px; 
}

.navName {
    font-size: 18px;
    padding-top: 12px;
    left: 55px;
}

.jumbotron img {
    width: 125%;
    position: relative;
    top: 10px !important;
    transform: translate(-50%, 0%);
}

.jumbotronInfoWrapper {
     top: 230px;
     width: 75%;
}


.nav li {
    top: 57px;
    display: none;
    text-align: right;
    background-color: rgba(240,240,240,.95);
    margin-right: -10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(30,30,30,.1)

}

.nav li:last-child {
    border-bottom: 4px solid rgba(185, 185, 185, .95);
}

.web {
    display: none;
}

.mobile {
    display: block;
    /* margin-top: -30px; */
}

.about {
    position: relative;
    top: -20px;
    padding: 40px 30px;
}

.about .content {
    top: 0;
    padding: 0px;
}

.about h1 {
    font-size: 24px;
    padding-top: 10px;
}

.line {
    margin: 20px 0px;
}

.about p {
    font-size: 16px;
}

.projects {
    position: relative;
    padding: 10px;
}

.projects  {
    margin-top: 30px;
}

.projectImg img {
    top: 30px;
}

.tableRow {
    display: block;
}

.rightCol {
    top: 0px;
    padding: 100px 50px;
}

.rightCol h1 {
    font-size: 24px;
}

.rightCol h2 {
    font-size: 16px;
}

.projectInfo {
    padding-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.projectInfo .col-md-9 p {
    font-size: 18px;
}

.sectionImgWrapper {
    padding: 20px;
}

.iframeWrapper {
    width: 100%;
}
}

/* One Column */

@media screen and (min-width:300px) {
    
}

@media screen and (max-width:400px) {
}

@media screen and (min-width:400px) {
}

/* Two Column */

@media screen and (min-width:700px) {
}

/* Three Column */

@media screen and (min-width:1000px) {
}